{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<!-- Exibir mensagens de flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<!-- Container principal para conteúdo da página inicial -->
<div class="container-fluid mt-5">
    <!-- Seção para upload de arquivo e exibição de créditos disponíveis -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h5 class="mb-0">Créditos: {{ credits }}</h5> <!-- Número de créditos dinâmico -->
                </div>
                <div class="card-body">
                    <form id="uploadForm" action="{{ url_for('main.upload_file') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Upload de Arquivo ZIP</label>
                            <input type="file" class="form-control" id="file" name="file" accept=".zip, .rar, .RAR, .ZIP" required>
                            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                        </div>
                        <div class="progress mt-3">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <form action="{{ url_for('main.process_authorization') }}" method="post" style="display:inline;">
                        <input type="hidden" name="file_id" value="{{ session.file_id }}">
                        <button type="submit" class="btn btn-success">Autorizar</button>
                    </form>
                    <form action="{{ url_for('main.cancel_process') }}" method="post" style="display:inline;">
                        <input type="hidden" name="file_id" value="{{ session.file_id }}">
                        <button type="submit" class="btn btn-danger">Não</button>
                    </form>
                </div>
            {% endif %}
        {% endwith %}
    <!-- Tabela para visualizar o histórico de uploads -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h5 class="mb-0">Arquivos em Processamento</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome do Arquivo</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Data de Upload</th>
                                    <th scope="col">Link de Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in files_in_process %}
                                <tr>
                                    <td>{{ file.filename }}</td>
                                    <td>
                                        {{ file.status }}
                                        {% if file.status == 'Fazendo Upload' %}
                                        {% elif file.status == 'Calculando' %}
                                            Calculando...
                                        {% elif file.status == 'Autorizando' %}
                                            Autorizando...
                                        {% endif %}
                                    </td>
                                    <td>{{ file.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                    <td>
                                        {% if file.download_link %}
                                            <a href="{{ file.download_link }}" class="btn btn-link">Download</a>
                                        {% else %}
                                            Em processamento...
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}