{% extends "base.html" %}

{% block title %}Transações{% endblock %}

{% block content %}
<div class="user-profile d-flex justify-content-end">
    <img src="{{ url_for('static', filename='uploads/' ~ current_user.profile_pic) }}" alt="Perfil" class="profile-pic">
    <div class="dropdown-menu">
        <a href="{{ url_for('main.profile') }}">Perfil</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
</div>
<h2>Histórico de Transações</h2>
<div class="card">
    <div class="card-header">Transações</div>
    <div class="card-body">
        <div class="table-responsive">
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.amount }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhuma transação encontrada.</td>
                    </tr>
                {% endif %}
            </tbody>
        </div>
    </div>
</div>
{% endblock %}
